.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --color: #ff0070;
  --outline-hover: rgb(255 0 112 / 0.4);
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --display: block;
}

@media (resolution: 2x) {
  :root.theme_dark {
    --bg-image: url(../images/cover-image.png);
  }
} 


